.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    z-index: 10;
    width: 250px;
    background-color: var(--bg-white);
    padding: 20px;
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.75);
    position: relative;
    transition: all 0.1s ease;

    &.active {

        width: 90px;


        .logo {
            .image {
                width: 100%;
            }
        }

        .btnToggle {
            transform: rotate(180deg);
        }

        .nav {
            .listItems {
                .listItem {
                    .link {
                        padding: 10px;
                        justify-content: center;
                        font-size: 0;
                        gap: 0;
                        border-radius: 5px;
                    }
                }
            }
        }

        .session {
            .button {
                padding: 10px;
                justify-content: center;
                
                gap: 0;
                border-radius: 5px;
                font-weight: 600;
                .span{
                    font-size: 0;
                }
            }
        }

    }

    .btnToggle {
        position: absolute;
        right: -25px;
        top: 100px;
        width: 45px;
        height: 45px;
        background-color: var(--bg-green);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 11;
        border-radius: 5px;
        cursor: pointer;
        font-size: 25px;
        color: var(--bg-white);
        border: none;
        transition: all 0.5s ease;
    }


}

.logo {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 40px;
    height: 100px;

    .image {
        width: 100%;
        object-fit: contain;
        
    }
}

.nav {
    width: 100%;
    flex: 8;

    .listItems {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;


        .listItem {
            .link {
                padding: 10px;
                cursor: pointer;
                transition: background-color 0.3s;
                border-radius: 5px;
                text-decoration: none;
                color: black;
                display: flex;
                align-items: center;
                gap: 10px;
                font-size: 16px;
                font-weight: 500;
                transition: all 0.3s ease;

                &.active {
                    background-color: var(--bg-green);
                    color: white;
                }

                &:hover {
                    background-color: var(--bg-green);
                    color: var(--bg-white);
                }

            }
        }
    }
}



.session {
    border-top: 1px solid var(--bg-gray);
    width: 100%;
    flex: 1;
    padding-top: 10px;


    .button {
        padding: 10px;
        width: 100%;
        color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
      
        border-radius: 5px;
        transition: all 0.3s ease;
       
        font-family: 'Roboto', sans-serif;

        .span{
            font-size: 18px;
        }

        &:hover {
            background-color: var(--bg-green);
            color: var(--bg-white);
        }
    }
}