.card {
    width: 250px; /* Tamaño fijo para las tarjetas */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: rgb(12,159,15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
    display: flex;
    flex-direction: column; /* Asegura que todos los elementos se apilen verticalmente */
    justify-content: space-between; /* Coloca el contenido y el botón en extremos opuestos */
    height: 100%; /* Asegura que la tarjeta ocupe todo el espacio posible */
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.heartIcon {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 24px;
    cursor: pointer;
}

.cover {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.content {
    padding: 16px;
    flex-grow: 1; /* Permite que el contenido crezca para ocupar el espacio disponible */
}

.title {
    font-size: 18px;
    color: #ffffff;
    margin: 0;
    margin-bottom: 8px;
}

.category, .author {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Empuja el contenedor del botón hacia la parte inferior */
    margin-bottom: 20px; /* Espacio para separar del borde */
}

.btn {
    display: block;
    width: 90%;
    border: none;
    padding: 8px 0;
    background-color: #ffffff;
    color: rgb(3, 3, 3);
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 16px;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ffffff;
}