.bookFormContainer {
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background-color: white;
    
    
}

.bookForm {
    display: flex;
    flex-direction: column;
}


.bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;
    gap: 16px;
}

.button {
    align-self: flex-end;
    width: 200px;
    padding: 15px 20px;
    background-color: var(--bg-green);
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0a6407;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


.cancel {
    align-self: flex-end;
    width: 200px;
    padding: 12px 20px;
    background-color: rgb(109, 108, 108);
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.cancel:hover {
    background-color: #cacaca;
    color: black;
}

.cancel:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

