.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .span {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  .content {
    overflow-x: auto;
    width: 100%;

    .TableNews {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
      min-width: 300px;

      .encabezado {
        .encabezadoRow {
          .encabezadoCell {
            padding: 10px 0;
            color: var(--text-light);
            font-weight: 500;
            text-align: center;
          }
        }
      }

      .tableBody {
        .tableBodyRow {

          .tableBodyCell {
            margin: 10px;

            text-align: center;

            .divCell {
              margin-top: 5px;
              padding: 10px;
              font-size: 13px;
              display: flex;
              justify-content: center;
              align-items: center;
              min-width: 160px;
            }

            .firstCell {
              border-top-left-radius: 50px;
              /* Borde superior izquierdo */
              border-bottom-left-radius: 50px;
            }

            .lastCell {
              border-top-right-radius: 50px;
              /* Borde superior derecho */
              border-bottom-right-radius: 50px;
            }

          }

          &.delivered td div {
            background-color: rgba(53, 235, 53, 0.5);

          }

          &.pending td div {
            background-color: rgba(255, 68, 0, 0.5);
          }

          &.cancelled td div {
            background-color: rgba(255, 0, 0, 0.5);
          }

        }

        .tableBodyCell:first-child {
          min-width: 220px;
        }
      }
    }
  }
}